In [1]:
from datetime import datetime

In [3]:
a=datetime.now()
print(a)
print(a.year)
print(a.month)
print(a.day)
print(a.hour)

2020-01-29 13:53:27.397602
2020
1
29
13

In [10]:
from datetime import *
now=datetime.now()
print(now)
print('date now:{}-{}-{}'.format(now.day,now.month,now.year))
print('time now:{}-{}-{}'.format(now.hour,now.minute,now.second))

2020-01-29 14:01:39.268205
date now:29-1-2020
time now:14-1-39

In [11]:
tdm=datetime.today()
print(tdm)
print('today date and time:',tdm)

2020-01-29 14:01:40.017405
today date and time: 2020-01-29 14:01:40.017405

In [12]:
td=date.today()
td

datetime.date(2020, 1, 29)

In [14]:
diff=datetime(2011,1,4)-datetime(2008,6,24,8,15)
diff

datetime.timedelta(days=923, seconds=56700)

In [15]:
diff=datetime(2011,1,4)-datetime(2008,6,24,8,15)
diff.seconds

56700

In [16]:
diff.total_seconds()

79803900.0

In [20]:
datetime(2011,12,26)+timedelta(206)

datetime.datetime(2012, 7, 19, 0, 0)

In [ ]:
value='26 Dec 2003'
datetime

In [27]:
date=[datetime(2000,1,4),datetime(2013,3,15),datetime(2006,5,23),datetime(1999,4,6)]

In [59]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.rand(4),index=date)
s

2000-01-04    0.601967
2013-03-15    0.298018
2006-05-23    0.779048
1999-04-06    0.778832
dtype: float64

In [30]:
ind=s.index[0]
ind

Timestamp('2000-01-04 00:00:00')

In [31]:
s[ind]

0.07910087424546319

In [34]:
now=datetime.now()
print(now)
timestamp=datetime.timestamp(now)
print(timestamp)

2020-01-29 14:29:21.104615
1580288361.104615

In [42]:
X=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
X

2000-01-01   -0.483594
2000-01-02    2.560384
2000-01-03   -1.045590
2000-01-04   -0.703308
2000-01-05   -0.661419
2000-01-06    2.215982
2000-01-07   -1.903002
2000-01-08    2.419585
2000-01-09    1.065943
2000-01-10    1.755689
2000-01-11   -0.040184
2000-01-12   -0.547696
2000-01-13   -0.606449
2000-01-14    0.390482
2000-01-15   -1.650312
2000-01-16    0.148268
2000-01-17   -0.137813
2000-01-18    0.027338
2000-01-19    0.110549
2000-01-20    0.881501
2000-01-21   -0.541950
2000-01-22    0.452313
2000-01-23   -1.622030
2000-01-24    0.393818
2000-01-25    0.997984
2000-01-26   -0.193920
2000-01-27    0.855497
2000-01-28   -0.734019
2000-01-29   -0.544158
2000-01-30    0.273025
                ...
2002-08-28   -0.060415
2002-08-29   -0.694700
2002-08-30    0.059746
2002-08-31    1.077979
2002-09-01   -2.692228
2002-09-02   -0.302333
2002-09-03    0.808917
2002-09-04   -0.663129
2002-09-05   -1.127141
2002-09-06    0.619301
2002-09-07   -1.532916
2002-09-08    0.740568
2002-09-09    0.826957
2002-09-10    1.159860
2002-09-11    0.626749
2002-09-12    0.696880
2002-09-13    0.690534
2002-09-14   -0.787499
2002-09-15   -0.492426
2002-09-16   -0.691469
2002-09-17   -2.913228
2002-09-18   -3.530711
2002-09-19   -0.822831
2002-09-20   -0.440008
2002-09-21   -0.202870
2002-09-22   -0.431118
2002-09-23   -0.407192
2002-09-24   -1.330830
2002-09-25    1.132216
2002-09-26   -1.847802
Freq: D, Length: 1000, dtype: float64

In [44]:
X['2001']

2001-01-01   -0.773058
2001-01-02   -1.219183
2001-01-03   -0.236270
2001-01-04   -2.563029
2001-01-05   -0.091587
2001-01-06    1.647139
2001-01-07    2.099914
2001-01-08    0.535912
2001-01-09    1.910706
2001-01-10    0.243377
2001-01-11   -0.380459
2001-01-12    0.544391
2001-01-13    0.531936
2001-01-14   -1.570304
2001-01-15   -1.025750
2001-01-16   -1.215691
2001-01-17   -0.269408
2001-01-18    1.647682
2001-01-19    1.626742
2001-01-20   -0.531623
2001-01-21    0.798128
2001-01-22    0.731049
2001-01-23   -0.614612
2001-01-24    1.586215
2001-01-25   -0.000612
2001-01-26    0.993460
2001-01-27   -0.382407
2001-01-28    0.303747
2001-01-29   -0.159883
2001-01-30   -0.206911
                ...
2001-12-02    1.506782
2001-12-03   -1.942733
2001-12-04   -0.041948
2001-12-05    0.207621
2001-12-06    1.201100
2001-12-07    1.177113
2001-12-08    2.519556
2001-12-09   -1.578073
2001-12-10    0.584762
2001-12-11    1.260606
2001-12-12    1.024556
2001-12-13   -3.088724
2001-12-14   -0.487964
2001-12-15   -0.295866
2001-12-16   -1.251624
2001-12-17   -1.250739
2001-12-18    1.412068
2001-12-19    0.156192
2001-12-20    0.484346
2001-12-21   -1.366006
2001-12-22    0.770417
2001-12-23    1.067806
2001-12-24   -1.877425
2001-12-25   -0.074761
2001-12-26    2.224683
2001-12-27   -1.694009
2001-12-28    0.164637
2001-12-29   -0.147404
2001-12-30    1.979799
2001-12-31   -0.397050
Freq: D, Length: 365, dtype: float64

In [51]:
X['2001-03']

2001-03-01   -1.613729
2001-03-02    0.568287
2001-03-03   -0.156413
2001-03-04   -1.472259
2001-03-05   -1.593597
2001-03-06    0.120607
2001-03-07   -0.974577
2001-03-08    0.399367
2001-03-09    0.595628
2001-03-10   -0.099643
2001-03-11    0.097421
2001-03-12    0.761047
2001-03-13    2.115149
2001-03-14    0.290013
2001-03-15    0.063338
2001-03-16   -2.097897
2001-03-17   -0.516108
2001-03-18    0.034238
2001-03-19    1.228411
2001-03-20   -1.116149
2001-03-21    1.251817
2001-03-22   -0.586173
2001-03-23   -0.172494
2001-03-24    0.917535
2001-03-25   -1.086224
2001-03-26    2.254424
2001-03-27   -0.016965
2001-03-28    1.612285
2001-03-29    0.490563
2001-03-30    0.616620
2001-03-31   -0.727818
Freq: D, dtype: float64

In [61]:
s

2000-01-04    0.601967
2013-03-15    0.298018
2006-05-23    0.779048
1999-04-06    0.778832
dtype: float64

In [64]:
s[datetime(2013,3,15):]

2013-03-15    0.298018
2006-05-23    0.779048
1999-04-06    0.778832
dtype: float64

In [70]:
pd.date_range('2000-1-1','2001-1-1',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [71]:
dates=pd.date_range('1/1/2019',periods=100,freq='W-WED')

In [76]:
df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=['colorado','texas','new york','ohio'])
df

            colorado     texas  new york      ohio
2019-01-02 -0.311917  0.971495  0.798711  0.785233
2019-01-09 -0.015581  0.358422 -0.603429 -0.254169
2019-01-16  0.195316 -0.936188  0.077009 -0.307911
2019-01-23  0.402542 -0.923396 -1.817649  0.619317
2019-01-30  0.017821  0.750591 -0.923686 -0.571725
2019-02-06 -0.819707  0.638475 -0.212242 -1.474433
2019-02-13  0.588538 -0.671202 -0.802063 -0.155677
2019-02-20 -2.249322 -0.280558 -0.899692  0.718962
2019-02-27 -0.108940 -0.354851 -1.429018  0.808101
2019-03-06  0.544555  0.121000 -0.212983  0.356537
2019-03-13  1.289521 -0.365521 -0.097645 -0.607329
2019-03-20  0.303010 -1.951927  0.353849  0.369096
2019-03-27 -1.536045  0.411410  2.066946 -0.589682
2019-04-03  0.342512 -1.755784  0.810882 -0.434980
2019-04-10 -0.962919 -0.598691  0.588359  1.092905
2019-04-17 -1.247580 -1.342438 -0.104732  0.515413
2019-04-24 -0.079985  0.278168 -1.414468  1.123966
2019-05-01  0.647492 -1.556341  0.442373  0.537496
2019-05-08 -0.721490 -0.097952 -1.701087  0.478909
2019-05-15 -0.510777 -1.806953  0.394145 -0.128520
2019-05-22  1.347351  1.853419  0.050392 -0.857293
2019-05-29  0.881617  1.925910  1.321336  0.102629
2019-06-05 -0.380392  1.401614 -0.232937  1.171446
2019-06-12 -0.360959 -1.123872  1.070955 -0.998888
2019-06-19 -0.131799 -0.893224  0.506704 -0.064297
2019-06-26 -0.597272 -1.527766 -1.632220  0.139919
2019-07-03 -1.264257 -2.371868 -0.973915 -1.617304
2019-07-10  0.276140  0.353538  0.988098  0.309944
2019-07-17  0.280156  1.037665 -1.007650 -0.917650
2019-07-24  0.695174 -0.936347 -0.353793  1.853754
...              ...       ...       ...       ...
2020-05-06  1.034815  0.722779 -1.321289 -1.228792
2020-05-13  0.334778 -1.310502  0.122425 -0.747887
2020-05-20 -1.569849  2.026352  0.152174  1.389087
2020-05-27  0.545742 -0.661012  1.411275 -0.227385
2020-06-03 -1.156421  1.462454  1.482794  0.265259
2020-06-10 -0.435414  0.809765 -0.922797 -0.992569
2020-06-17  1.778629  1.884836 -0.225565  0.176630
2020-06-24  0.061817 -0.213059  0.404108 -1.203113
2020-07-01 -1.291440 -0.330922 -1.452577  0.407141
2020-07-08 -0.182507 -2.345573 -0.177225  0.350316
2020-07-15 -1.031371  0.509049 -0.259381  1.130206
2020-07-22 -1.335934  0.764216 -0.476186 -0.289631
2020-07-29 -0.275068 -0.513763 -0.998512 -0.458117
2020-08-05  1.615680  1.173037 -0.598508 -1.116723
2020-08-12 -0.272695  0.451089 -0.594347 -1.538790
2020-08-19 -0.261503 -1.387449  0.608658  0.251089
2020-08-26 -0.222717 -0.695590 -0.580954 -0.328374
2020-09-02 -1.696506 -0.529182  0.063496 -0.321919
2020-09-09 -0.228978 -0.875177 -1.274076  0.921857
2020-09-16 -0.360469 -1.488032  0.205024  0.394999
2020-09-23  1.057848 -0.750722 -0.039659 -0.124693
2020-09-30 -0.594925 -0.579115 -0.176469 -0.193590
2020-10-07  1.044329 -1.076900 -1.948795  1.000069
2020-10-14 -1.230339 -0.861231  0.056171 -0.057467
2020-10-21  0.361229 -1.023949 -1.663974 -1.585814
2020-10-28 -0.213293 -1.297494 -0.436808  0.766667
2020-11-04  0.349382 -0.571358 -1.104502 -1.082466
2020-11-11  0.338691  0.638811  0.395737  0.474060
2020-11-18 -1.728866 -0.744574  0.123969 -0.171333
2020-11-25  0.551202 -0.323425 -0.920544  1.607464

[100 rows x 4 columns]

In [77]:
df['5-2019']

            colorado     texas  new york      ohio
2019-05-01  0.647492 -1.556341  0.442373  0.537496
2019-05-08 -0.721490 -0.097952 -1.701087  0.478909
2019-05-15 -0.510777 -1.806953  0.394145 -0.128520
2019-05-22  1.347351  1.853419  0.050392 -0.857293
2019-05-29  0.881617  1.925910  1.321336  0.102629

In [84]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/4/2000','1/5/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-04', '2000-01-05'], dtype='datetime64[ns]', freq=None)

In [85]:
d=pd.Series(np.arange(4),index=dates)
d

2000-01-01    0
2000-01-02    1
2000-01-04    2
2000-01-05    3
dtype: int32

In [88]:
d['1/2/2000']

1

In [90]:
grouped=d.groupby(level=0)

In [91]:
grouped.mean()

2000-01-01    0
2000-01-02    1
2000-01-04    2
2000-01-05    3
dtype: int32

In [92]:
grouped.count()

2000-01-01    1
2000-01-02    1
2000-01-04    1
2000-01-05    1
dtype: int64

In [94]:
index=pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [95]:
pd.date_range(start='2012-04-01',end='2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [97]:
  pd.date_range(start='1/1/2019',periods=5,freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [98]:
  pd.date_range(start='1/1/2019',periods=5,freq="M")

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31'],
              dtype='datetime64[ns]', freq='M')

In [100]:
from pandas.tseries.offsets import Hour,Minute
hour=Hour()
hour

In [101]:
h=Hour(4)
h

In [103]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [104]:
k=pd.date_range('2019-12-11',periods=10)
k

DatetimeIndex(['2019-12-11', '2019-12-12', '2019-12-13', '2019-12-14',
               '2019-12-15', '2019-12-16', '2019-12-17', '2019-12-18',
               '2019-12-19', '2019-12-20'],
              dtype='datetime64[ns]', freq='D')

In [106]:
for day in k:
    print(day.dayofweek,day.weekday_name)

2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

C:\Users\kvsw11\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead